<h3>{{#str}}bookmarkedcourses, local_bookmark{{/str}}</h3>

{{#courses}}
  <div class="course-card">
    <div class="course-title">
      <a href="{{viewurl}}">{{fullname}}</a>
    </div>
    <div class="course-actions">
        <a href="{{unbookmarkurl}}" class="btn btn-danger">
            {{#str}}removebookmark, local_bookmark{{/str}}
        </a>

    </div>
  </div>
{{/courses}}

{{^courses}}
  <p>{{#str}}nobookmarks, local_bookmark{{/str}}</p>
{{/courses}}
