<div class="pd-16">
  <h2>Course Insights</h2>

  <div class="analytics-section">
    <h3>Saved Courses, Not Yet Started:</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Number of Savers</th>
            <th>Number of Starters</th>
          </tr>
        </thead>
        <tbody>
          {{#saved_not_started_courses}}
          <tr>
            <td>{{name}}</td>
            <td>{{bookmark_count}}</td>
            <td>{{started_count}}</td>
          </tr>
          {{/saved_not_started_courses}}
          {{^saved_not_started_courses}}
          <tr>
            <td colspan="3">No data available</td>
          </tr>
          {{/saved_not_started_courses}}
        </tbody>
      </table>
    </div>
  </div>
</div>